/* Reset de la marge et du padding pour l'ensemble du document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    color: #1db954;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.album-card {
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.album-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.navbar {
    overflow-x: auto;
    white-space: nowrap;
    background-color: #333;
    padding: 10px 0;
}

.nav-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #555;
}

.active {
    background-color: #1db954;
}

.search-form {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 0 auto 20px auto;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
    flex: 1;
    padding: 12px 20px;
    border: none;
    background: transparent;
    font-size: 16px;
    color: #333;
    outline: none;
}

.search-button {
    background-color: #1db954;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #168f3d;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Container du bouton principal */
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Contenu du menu déroulant caché par défaut */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Les liens à l'intérieur du menu déroulant */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Change la couleur des liens au survol */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Affiche le menu déroulant au survol */
  .navbar .dropbtn:hover .dropdown-content {
    display: block;
  }
  
  /* Change la couleur du bouton au survol */
  .navbar .dropbtn:hover {
    background-color: #3e8e41;
  }